.canvasMarginDiv {

}

.canvasDiv {
    
    margin-top: 150px;
    width: 100%;
    background-color: rgb(80, 80, 80)

}

.photo {
    width: 100%;
}

.targetBox {
    height: 20px;
    width: 20px;
    border: solid black 2px;
    position: absolute;
    display: none;
}

.targetsDropdown {
    border: solid black 2px;
    position: absolute;
    display: none;
    font-size: 20px;
}

