nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 2;

    color: white;
    background-color:rgb(80, 80, 80);

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
   
}

.objectList {
    display: flex;
}

.object {
    padding: 1vw;
    display: flex;
    height: 10vw;
    max-height:5rem;
}

.objectText {
    font-size: 2vw;
}

.startButton {
    padding: 2vw;
    font-size: 3vw;
    border-radius: 10px;
}

.leaderboardButton {
    padding: 2vw;
    font-size: 3vw;
    border-radius: 10px;
}

.onScreenTimer {
    font-size: 3vw;
}

.timeText {
    font-size: 6vw;
}